<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.zipeg.gae.servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

<!--
  <servlet id="jsp">
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>logVerbosityLevel</param-name>
      <param-value>DEBUG</param-value>
    </init-param>
    <init-param>
      <param-name>fork</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>xpoweredBy</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>keepgenerated</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>development</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
-->

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <trim-directive-whitespaces>
        true
      </trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>

  <welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

</web-app>
